/**
 * Colors
 */

 $color-main		: #d0281a;
 $color-sec		: #101c2b;
 $color-mono-1	: #070102;
 $color-mono-2	: #999999;
 $color-mono-3	: #b4b4b4;
 $color-mono-4	: #cccccc;
 $color-mono-5	: #dcdcdc;
 
 
 /**
  * Layout
  */
 
 $container-gap	: 20px;
 $height-header	: 80px;
 
 
 /**
  * Misc
  */
 
 $trs-dur    : 0.3s;
 